.menu {
  top: 0;
  height: 300px;
  visibility: visible;
  transition: all 2s;
  width: 150px;
  position: absolute;
  left: -150px;
  border-radius: 10px;
  background-color: #3f51b5;
  z-index: 1;
}

.menu.open {
  left: 0px;
}

.menu.closed {
  left: -150px;
}
