.basket {
  height: 100%;
  visibility: visible;
  width: 500px;
  position: fixed;
  right: -500px;
  padding-top: 100px;
  z-index: 1;
  background-color: rgb(72, 10, 185);
}
.basket.open {
  right: 0px;
}
.basket.closed {
  right: -500px;
}
.basket-list-item {
  margin: 0 1rem;
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 16px;
}
